:root {
  --cor-primaria: #195128;
  --cor-primaria-hover: #00420c;
  --cor-gradiente: #38B75A;
  --background-principal: linear-gradient(to right, #195128, #38B75A);
  --cor-secundaria: #fff;
  --cor-texto: #333;
  --swiper-theme-color: #006437;
  --swiper-navigation-size: 30px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}


header {
  background-color: var(--cor-primaria);
  padding: 10px 0;
  border-bottom: 1px solid #e0e0e0;
}

header .container {
  height: 65px;
  display: flex;
  align-items: center;
}

#logo {
  height: 65px;
  width: auto;
  align-items: center;
}

.main-nav {
  background-color: var(--cor-primaria);
  padding: 5px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.main-nav .container {
  justify-content: center;
  display: flex;
}

.main-nav ul {
  list-style: none;
  display: flex;
  gap: 5px;
}

.main-nav a {
  color: var(--cor-secundaria);
  text-decoration: none;
  font-weight: 600;
  font-size: 0.9em;
  text-transform: uppercase;
  padding: 15px 20px;
  display: block;
  transition: background-color 0.2s ease-in-out;
}

.main-nav a:hover {
  background-color: var(--cor-primaria-hover);
}

h1,
h2,
h3 {
  color: var(--cor-primaria);
}

footer {
  color: var(--cor-secundaria);
  text-align: center;
  padding: 20px 0;
  margin-top: -10px;
  background: var(--background-principal);
}

#colaboradores .swiper {
  padding-bottom: 40px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
