:root {
  --cor-primaria: #195128;
  --cor-primaria-hover: #00420c;
  --cor-gradiente: #38B75A;
  --background-principal: linear-gradient(to right, #195128, #38B75A);
  --cor-secundaria: #fff;
  --cor-texto: #333;
  --swiper-theme-color: #006437;
  --swiper-navigation-size: 30px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}


.headerPage {
  background-color: var(--cor-primaria);
  background: var(--background-principal);
  background-color: var(--background-principal);
}

.headerContainer {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#logo {
  height: 65px;
  width: auto;
  align-items: center;
}

.main-nav {
  background-color: var(--cor-primaria);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.main-nav .container {
  justify-content: center;
  display: flex;
}

.navMenu {
  list-style: none;
  display: flex;
  gap: 5px;
}


.menuLink {
  color: var(--cor-secundaria);
  text-decoration: none;
  font-weight: 600;
  font-size: 0.9em;
  text-transform: uppercase;
  padding: 15px 20px;
  display: block;
  transition: background-color 0.2s ease-in-out;
}

.menuItem:hover {
  background-color: var(--cor-primaria-hover);
}

.menuItem {
  position: relative;
}

.subMenu {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: var(--cor-primaria-hover);
  border-radius: 0px 0px 10px 10px;
  position: absolute;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease, visibility 0.2s ease;
}

.subMenu .menuLink:hover {
  text-decoration: underline;
}
.menuItem:hover .subMenu{
  opacity: 1;
  visibility: visible;
}

h1,
h2,
h3 {
  color: var(--cor-primaria);
}

footer {
  color: var(--cor-secundaria);
  text-align: center;
  padding: 20px 0;
  margin-top: -10px;
  background: var(--background-principal);
}


