:root {
    --cor-primaria: #195128;
    --cor-primaria-hover: #00420c;
    --cor-gradiente: #38B75A;
    --background-principal: linear-gradient(to right, #195128, #38B75A);
    --cor-secundaria: #fff;
    --cor-texto: #333;
    --swiper-theme-color: #006437; /* Mesma cor da variável --cor-principal */
    --swiper-navigation-size: 30px; /* Tamanho das setas do carrossel*/
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

/*body{
    color: var(--cor-texto);
    background-color: var(--cor-secundaria);
}*/

.container{
    max-width: 960px;
    margin: 0 auto; /*centraliza o conteudo*/
    padding: 20px;
}

/* --- Cabeçalho --- */

header {
    display: flex;
    justify-content: flex-end;
    background: var(--background-principal);
    background-color: var(--background-principal);
    padding: 15px 0;
    justify-content: center;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul { /*menu do header*/
    color: var(--cor-secundaria);
    text-decoration: none;
    font-weight: 500;
    list-style: none;
    display: flex;
    gap: 20px; /* Espaçamento entre os itens do menu */
    margin: 0;
    padding: 0;
}

header nav a {
    color: var(--cor-secundaria);
    text-decoration: none;
    font-weight: 500;
}
.logo{
    margin-right: 10px;
}

h1, h2, h3 {
    color: var(--cor-primaria);
}

footer{
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: -10px; /* Alinhamento com a caixa branca principal */
    background: var(--background-principal);
}



/* --- ESTILOS DO CARROSSEL SWIPER --- */
#colaboradores .swiper {
    padding-bottom: 40px; /* Espaço para as bolinhas de paginação não ficarem coladas */
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}