header {
  display: flex;
  justify-content: flex-end;
  background: var(--background-principal);
  background-color: var(--background-principal);
  padding: 15px 0;
  justify-content: center;
  height: 200px;
  width: 100vw;
}
.wrapperMain {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 30px 20px;
}
.content {
  max-width: 960px;
  width: 100%;
  box-shadow: 0px 2px 2px 2px rgba(25, 81, 40, 0.1);
  padding: 34px 55px 80px;
}
.wrapperContainer {
  margin-bottom: 40px;
}


@media (max-width: 700px) {
  .content {
    padding: 34px 15px 80px;
  }
}